body {
  display: block;
}
input[type=checkbox], input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}

.unchecked {
  background: url('form-elements-sprite.png') no-repeat -158px -239px;
	width: 161px;
	height: 160px;
}